@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

#app, #root{
  width: 100%;
  height: auto;
  min-height: 100vh;
  font-family: "Open sans";
}

h1, h2, h3, h4, h5, p{
  margin: 0;
}

#app{
  background: linear-gradient(180deg, #b7f6b4, #fafafa);
}

.flex{
  display: box;
  display: inline-block;
  display: -webkit-flex;
  display: -moz-inline-grid;
  display: flex;
}

.flex.flex__vertical-align{
  align-items: center;
}

#header{
  width:100%;
  height: 100px;
}

#header__logo{
  width:64px;
  height:64px;
  font-size: 40px;
  line-height: 64px;
  display: inline;
}

.wrapper{
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 24px;
  box-sizing: border-box;

}

#header h1{
  font-size: 30px;
}

.main{
  margin: 24px 0;
}

.flex__form{
  flex-grow: 1;
}

.form-field{
  position: relative;
  flex-grow: 1;
  max-width: 260px;
}
.form-field + .form-field{
  margin-left: 16px;
}

.form-field label{
  position: absolute;
  top: 12px;
  line-height: 20px;
  left: 14px;
  z-index: 1;
  font-size: 14px;
  pointer-events: none;
  will-change: transform opacity;
  transition: 0.3s top cubic-bezier(0.19, 1, 0.22, 1);
  font-weight: 600;
  color: #757575;
}

.form-field input{
  width:100%;
  height: 48px;
  padding: 0px 12px;
  font-size: 14px;
  font-family: "Open sans";
  border:solid 2px #c7c7c7;
  border-radius: 8px;
  box-sizing: border-box;
}

.form-field:focus-within label, .form-field[data-value] label{
  opacity: 1;
  font-size: 12px;
  top: -16px;
  line-height: 12px;
  color: #134f4f;
}
.form-field[data-error="true"] label{
  color: rgb(220, 49, 11);
}

.form-field input::placeholder{
  color:transparent;
}


.dim-text{
  font-size: 13px;
  line-height: 24px;
  opacity: 0.6;
  margin: 12px 24px;
  font-weight: 600; 
}

.button-main{
  width:auto;
  display: inline;
  border: none;
  box-sizing: border-box;
  height: 48px;
  padding: 12px 14px;
  background: #2e66af;
  color: #f3f3f3;
  /* font-weight: 600; */
  font-size: 14px;
  border-radius: 6px;
  font-family: "Open sans";
}
.form-field input:focus, .button-main:focus{
  outline:none;
  box-shadow: 0 0 0 3px #d4d4d4;
  transition: 0.23s box-shadow linear;
}

.svg__inline{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  position: relative;
  top:6px;
  left:-4px;
  margin-right: 8px;
  opacity: 0.9;
}
.button-main svg{
  fill:currentColor;
}

.no-pointer-events{
  pointer-events: none;

}

.para-error{
  color:rgb(220, 49, 11);
}


/* Food truck */

.ul-no_style{
  margin: 24px 0;
  width:100%;
  padding:0 2px;
  box-sizing: border-box;
  overflow: auto;
}
.li-no_style{
  list-style: none;
  margin: 8px 8px 8px 0;
}

.foodtruck{
  min-width: 300px;
  height: auto;
}

.foodtruck-wrapper{
  width:100%;
  box-sizing: border-box;
}

.foodtruck-content{
  width:100%;
  background:#f3f3f3;
  border-radius: 8px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2), 0 1px 3px 0 rgba(0,0,0,0.2);
  box-sizing: border-box;
  overflow: hidden;
}

.foodtruck-title-box{
  width: 100%;
  margin-bottom : 12px;
  font-size: 14px;
}

.foodtruck-title{
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.8;
}

.foodtruck-flying-tags{
  width:100%;
  padding-left: 10px;
}
.foodtruck-flying-tags .tag{
  min-width: 24px;
  display: inline-block;
  padding: 4px 6px;
  text-align: center;
  background: #497979;
  color: #fff;
  border-radius: 4px 4px 0 0;
  font-size: 12px;
}
.tag+.tag{
  margin-left: 4px;
}

.foodtruck-para{
  font-size: 13px;
}

.foodtruck-container:first-child{
  background:#fff;
}
.foodtruck-container{
  padding:8px 15px;
}

.foodtruck-fooditems{}
.foodtruck-fooditem{

}
.foodtruck-foodtitle{
  font-size: 14px;
  font-weight: 600;
  color: #575757;
  margin: 6px 0 12px 0;
}

.simple-tags{}
.simple-tags .tag{
  display: inline-block;
  padding: 4px 12px;
  background: #e3e3e3;
  border-radius: 20px;
  opacity: 0.9;
  margin: 4px 4px 0 0;
}

#footer{
  position:relative;
  text-align: center;

}

.status-message{
  width: 100%;
  margin: 24px 0;
}


@media screen and (max-width : 768px){
  .main>.wrapper>.flex{
    flex-direction: column;
    overflow: none;
  }
  .button-main{
    max-width: 200px;
  }
}


@media screen and (max-width : 425px){
  .ul-no_style{
    flex-direction: column;
    overflow: none;
  }
}
